saves/**
centralized/saves/**
centralized/dataset/**
federated/dataset/**
federated/save/**
logs/**
**/*.pyc
logs_*/**
cmp*
federated/data2vec-audio-large-960h_new2_recall_FL.txt
centralized/EmbFeats/*
centralized/mask_info.ipynb
federated/logs/*
federated/src/*.txt
federated/src/dataset/**/*
centralized/eval_finetune_old.py
